<div class="card testimonial-card ">
  <div class="card-wrapper">

    <div class="card-body text-center">
      <small>{{info.text}}</small>
      <h5 class="card-title">
        <div>{{info.val}}</div>
      </h5>

      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="" class="btn btn-sm btn-link" (mouseenter)="setInfo('Hi, ' + getDesignation(user.gender), user.name.fullName )">
            <i class="fa fa-user-o text-secondary"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="" class="btn btn-sm btn-link" (mouseenter)="setInfo('My email address is', user.email )">
            <i class="fa fa-envelope-o text-secondary"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="" class="btn btn-sm btn-link" (mouseenter)="setInfo('My birthday is', getBirthYear(user.age) )">
            <i class="fa fa-calendar text-secondary"></i>
          </a>
        </li>
        <!--li class="list-inline-item">
          <a href="" class="btn btn-sm btn-link" (mouseenter)="setInfo('My address is', user.address )">
            <i class="fa fa-map-marker text-secondary"></i>
          </a>
        </li-->
        <li class="list-inline-item">
          <a href="" class="btn btn-sm btn-link" (mouseenter)="setInfo('My phone number is', user.phone )">
            <i class="fa fa-phone text-secondary"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
